# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.orig
*.swp

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
eggs-info/
pip-log.txt
pip-delete-this-directory.txt
*.egg-info/
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python program during the build process
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.coverage
.coverage.*
nosetests.xml
coverage.xml
*.cover
*.py,cover
*.log

# Jupyter Notebook
.ipynb_checkpoints

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype
.pytype/

# VS Code
.vscode/

# IDEs
.idea/
*.iml

# Python virtual environment
venv/
env/
ENV/
.venv/
.env/
.env
# AWS Credentials
.aws/

# Terraform files
*.tfstate
*.tfstate.*
.terraform/

# Local configuration files
*.local

# Log files
*.log
*.log.*

# Miscellaneous
.DS_Store
*.swp

# Docker files
docker-compose.override.yml

# Sensitive files
config/.env
